.container {
  width: 100vw;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  min-width: 300px;
  min-height: 500px;
}

.button {
  width: 100%;
}

.fieldContainer {
  width: 100%;
}

.error {
  color: red;
  font-size: 14px;
}
